JWT_SECRET=JWT_SECRET
COOKIE_SECRET=COOKIE_SECRET

MONGO_DB_CONNECT=mongodb://localhost:27017/
MONGO_DB_NAME=test

SERVER_PORT=3001
CLIENT_PORT=3002
REDIS_PORT=3003
PRODACTION_PORT=3004

UPDATE_PAGES_DATA=false

MAILER_IS_ACTIVE=false
MAILER_HOST=mail.host.ru
MAILER_PORT=25
MAILER_FROM=example@mail.ru